body{
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

button{
    color: white;
    width: 200%;
    padding: 10px;
    border-radius: 40px;
    font-family: "Poppins",sans-serif;
    font-size: 1.5em;
    border: 0;
    background-image: linear-gradient(to bottom right, #4568dc, #b06ab3);
}

button:active{
    background-image: linear-gradient(to bottom right, #b06ab3, #4568dc);
}