body{
    display:flex;
}

table{
    border: 1px solid;
    border-spacing: 0px;
    width: 100%;

    }
    
th{
    text-align: left;
    font-weight: normal;
    font-family: Calibri, sans-serif;
    font-size: 28px;
    width: 50%;
}